<div class="section-one">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="logo-header"><%= image_tag "Cleanit-logo-700x203.svg" %></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="hero">
						<h1>Cleanit is the easiest way to get your 
								place cleaned.
						</h1>
						<p class="lead">
							No app to download. Just simply text us and we clean your place. Yes, that simple.
						</p>
						<button type="button" class="btn btn-primary">Book Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section-two">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="how-it-works">
					<h1>How it works?</h1>
					<p>1. Send a text to 305-000-0000  and just let us know how many 
						bedrooms and bathrooms your place is.
					</p>
					<div class="bubble">
						<%= image_tag "Message-right-one.svg", class: "img-responsive message-right-one" %>
					</div>
					<p class="step-two">2. We give you a quote.</p>
					<div class="bubble">
						<%= image_tag "Message-right-one.svg", class: "img-responsive message-right-one" %>
						<%= image_tag "Message-left-three.svg", class: "img-responsive message-left-three" %>
						<%= image_tag "Message-right-four.svg", class: "img-responsive message-right-one-four" %>
					</div>
					<p class="step-three">
						3. If you want to move forward with the quote, we then schedule 
						one of our cleaning professionals to go over at whatever time is
						convinent for you. 
					</p>
					<div class="bubble">
						<%= image_tag "Message-right-one.svg", class: "img-responsive message-right-one" %>
						<%= image_tag "Message-left-three.svg", class: "img-responsive message-left-three" %>
						<%= image_tag "Message-right-four.svg", class: "img-responsive message-right-one-four" %>
						<%= image_tag "Message-left-eight.svg", class: "img-responsive message-left-eight" %>
						<%= image_tag "Message-right-nine.svg", class: "img-responsive message-right-nine" %>
						<%= image_tag "Message-left-ten.svg", class: "img-responsive message-left-ten" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>